<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<footer th:fragment="footer" class="footer text-center py-3 fixed-bottom">
    <div class="container">
        <div class="footer-content">

            <div class="footer-links mb-2">
                <a href="/sobre" class="footer-link">Sobre</a>
                <a href="/contato" class="footer-link">Contato</a>
                <a href="/termos" class="footer-link">Termos de Uso</a>
            </div>

            <div class="footer-social mb-2">
                <a href="https://github.com/santt4na" class="social-icon" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://linkedin.com/in/santt4na" class="social-icon" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>

            <p class="mb-0">© 2025 HealthCheck. Desenvolvido por <span class="creator-name">Santt4na</span>.</p>
        </div>
    </div>
</footer>
</body>
</html>